<!DOCTYPE html>
<html lang="en">
    <link href="styles.css" rel="stylesheet" type="text/css">

    <head>
        

    </head>

    <div class="container">
      <h1>Record Audio Test</h1>
      <div id="startDiv">
        <img id="startImage" src="musicSample.png">
      </div>
    </div>

    <div id="controls">
      <button id="recordButton">Start Recording</button>
      <button id="submitAssignment">Submit Assignment</button>
    </div>

    <script src="scripts/recorder.js"></script>
    <script src="scripts/recorderApp.js"></script>
            
        
</html>

<footer class="footer">
	<p>Copyright &copy; 2025 </p>
</footer>